[submodule "portmidi"]
	path = portmidi
	url = https://github.com/PortMidi/portmidi.git
[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "SDL_ttf"]
	path = SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "freetype"]
	path = freetype
	url = https://github.com/freetype/freetype.git
[submodule "harfbuzz"]
	path = harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
