.DS_Store
*.o
jackdaw
.vscode/
*.wav
*.jdaw
.clangd
*.log
todo.txt
*.xml
!gui/template_lts/*.xml
!assets/layouts/*.xml
*~
*#
.#*
*.#*
TAGS
gui/complete.gif
gui/gifframes
*._c
*._h
layout
jackdaw
animation.gif
gifframes
*.dSYM
*.mov
todo.org
*.bak
license_extract.py
projects/
presentation.org
macos_bundle/
jprod
*.dmg
*.zip
build/
gui/build/
*.org
*.log
*select_rect*
src/factors.py
pianolt.py
*feedback.txt
presets/
*.jsynth